* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(29, 29, 206);
    --secondary: rgb(203, 57, 20);
    --tertiary: rgb(244, 218, 89);
    --dark: black;
    --light: white;
}

body {
    margin: 0;
    padding: 0;
    color: var(--primary);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--light);
    line-height: 1.5;
}

h1,h2,h3,h4,p {
    margin: 0;

}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(150, 200, 200, 0.4);

}

header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
}

.navbar {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .navbar a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
     background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
     background-repeat: no-repeat;
     background-size: 100% 0.2em;
     background-position: bottom;
     transition: all 0.25s ease-in;
     font-size: 1.4rem;
 }
  .navbar a:hover {
    color: var(--primary);
    background-size: 100% 100%;
  }

.navbar a:last-child {
    margin-right: 0;

}


.content {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;

}

.page-section > div {
    flex: 0 0 77%;

}

.page-section p {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: azure;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.page-section > h4 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
  }

@media screen and (max-width: 980px) {
    main,
    nav {
        flex-direction: column;
    }
    
}


@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  