* {
    background-color: beige;
}

body {
    margin: 10px;
    padding: 0;
    height: 100%;
}


.navbar {
    width: 100%;
    margin: 20px;
    overflow: auto;
    display: inline;
    padding: 20px;
  }

  .navbar a:hover {
    background-color: #000;
  }



h1 {
    font-size: 58px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:crimson;
    display: inline;
    background-color: azure;

}

h2 {
    margin-top: 30px;
    font-size: 36px;
    text-decoration: underline;
    color: darkblue
}

 p {
    font-size: 18px;
    line-height: normal;
    justify-content: flex-end;
    margin-top: 30px;
    
}

nav ul li {
    display: inline-block;
    float: right;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 30px;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: azure;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }




h4 {
    margin-top: 30px;
    font-size: 36px;
    text-decoration: underline;
    color: darkblue;
    display: inline-block;
    
}



@media (min-width: 600px),(min-width: 800px) {
    .navbar a {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
    }
}

