* {
    
    background-color: beige;
}


.navbar {
    width: 100%;
    margin: 20px;
    overflow: auto;
    display: inline;
    padding: 20px;
  }

  .navbar a:hover {
    background-color: #000;
  }



h1 {
    font-size: 58px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
    display: inline;

}

h2 {
    margin-top: 50px;
    font-size: 36px;
}

 p {
    justify-content: flex-start;
}

nav ul li {
    display: inline-block;
    float: right;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    background-color: darkgray;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 30px;
    
}




@media screen and (max-width: 866px) {
    .navbar a {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: left;
    }
}